.bento-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.bento-card {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 0.99rem;
}

@media screen and (max-width: 800px) {
  .bento-card {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .bento-card {
    flex: 100%;
    max-width: 100%;
  }
}